header {
  text-align: center;
  padding: 15px;
  margin: 15px;
}

h1 {
  color: rgb(4, 109, 109);
}

#add-item-section {
  text-align: center;
  padding: 15px;
  margin: 15px;
  /* display: flex;*/
  /* justify-content: center;  */
}

#add-item-input {
  display: block;
  border: none;
  border-bottom: 4px solid rgb(4, 109, 109);
  margin: auto;
  text-align: center;
  cursor: text;
  font-size: larger;
}

#add-item-input:focus {
  outline: none;  
}

#add-item-btn {
  margin-top: 15px;
  background-color: transparent;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(4, 109, 109);
  font-weight: bold;
  
}

